body {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: #032236;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

:root {
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: #6bbadf;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 42px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  a {
    color: white;
  }

  #hero-subheader {
    font-size: 22px;
  }

  .container {
    max-width: 1120px;
    padding: 0 1.4rem;
    margin: 0 auto;
  }

  #navbar {
    --navbar-height: 64px;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    height: 100px;
    background-color: #032236;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 500;
    align-items: center;
    font-size: 18px;
  }
  
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }

  .navbar-logo {
    max-width: 100px;
  }

  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }

  #navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
  }

  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }

  #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }

  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    padding: 1em;
  }

  .navbar-links {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    background-color: #032236;
  }

  section {
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 100px;
    padding-left: 40px;
    margin: 0 auto;
  }

  footer {
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 100px;
    padding-left: 40px;
    margin: 0 auto;
  }

  #hero-buttons{
    text-align: left;
    flex-direction: row;
    display: flex;
  }

  #hero-banner {
    color: white;
  }

  #services {
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("images/services.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #hero {
    background-image: linear-gradient(rgba(3,34,54,0.5),rgba(3,34,54,0.5)),url("images/Pexels-Photo-by-Sean-Whang-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
  }

  .inner-section {
    max-width: 1120px;
    margin: auto;
  }



  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .flex-item-2 {
    width: 50%;
  }

  .flex-item-3 {
    width: 30%; 
    padding: 0 10px;
  }

  .flex-button-container {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .flex-button-2 {
    margin-top: 50px;
  }

  .button-cta {
    margin-top: 20px;
  }

  .button-cta:hover {
    text-decoration: none;
    color: #6bbadf;
  }

  .button-solid-blue {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
    background-color: #032236;
    border: 2px solid #032236;
    padding: 15px 24px;
    text-decoration: none;
  }

  .button-solid-blue:hover {
    border: 2px solid #032236;
    background-color: #032236;
    padding: 15px 24px;
    text-decoration: none;
  }

  .button-solid-lightblue {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
    background-color: #6bbadf;
    border: 2px solid #6bbadf;
    padding: 15px 24px;
    text-decoration: none;
    color: #032236;
  }

  .button-solid-lightblue:hover {
    background-color: #032236;
    border: 2px solid #032236;
    padding: 15px 24px;
    text-decoration: none;
  }

  .button-hollow-blue {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgba(3,34,54,0);
    border: 2px solid #032236;
    padding: 15px 24px;
    text-decoration: none;
  }

  .button-hollow-blue:hover {
    background-color: #032236;
    border: 2px solid #032236;
    padding: 15px 24px;
    text-decoration: none;
  }

  
  #hero-buttons a:hover {
    color: #6bbadf;
  }

  #contact {
    background-color: #282828;
    color: white;
  }

  #services-header {
    text-align: center;
  }

  #services-subheader {
    text-align: center;
    padding-bottom: 30px;
  }

  #portfolio-header {
    text-align: center;
  }

  #services-items div{
    padding-bottom: 30px;
  }

  #resume-button {
    margin-top: 35px;
  }

  #linkedin-link {
    margin-top: 35px;
  }

  #linkedin-link-text:hover {
    font-weight: bold;
  }

  #resume .flex-item-2 {
    padding: 0 35px;
  }

  #project-card {
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    min-height: 125px;
  }


  .card-container {
    padding: 17px 17px;
  }

  .card-container h5 {
    padding-bottom: 10px;
  }

  #project-card a {
    color: black;
    text-decoration: none;
  }

  #project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }




  
  @media screen and (max-width: 991px){
    h1{
      font-size: 38px;
    }
    h2 {
      font-size: 25px;
    }
  
    h3 {
      font-size: 18px;
    }
    #hero{
      padding-top: 150px;
    }
    .flex-item-3 {
      width: 100% !important;
    }
    #projects-grid .flex-item-3 {
      width: 55% !important;
      margin-bottom: 50px;
    }
    .flex-item-2 {
      width: 100% !important;
    }
    #projects-grid {
      text-align: center;
    }
    #contact .flex-item-2 {
      margin-bottom: 50px;
    }

  }

  @media screen and (min-width: 991px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }